.Filter-container{
    position: relative;
    width: 100%;
    height:fit-content;
    top: 0;
    left: 0;
    background-color: rgba(192,141,84,.2);
    background-image: url('../Images/bgwinelist-min.jpg');
    background-size: 100% 100%;
    background-position: center center center;
    background-repeat: repeat;
    object-fit: cover;
    min-height: 100vh;
}
.h2{
  position: absolute;
  color: white;
  top: 170px;
  left: 50px ;
  cursor: pointer;
  font-size: x-large;
}
.welcome{
    position: absolute;
    top: 100px;
    left: 300px;
    transform: translate(-50%, -50%);
    color: white;
    width: 550px;
    height: 430px;
}
.wine-container{
    padding-top: 200px;
    padding-bottom: 100px;
    margin-left: 45px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.filter{
  color: white;
  position: absolute;
  top: 148px;
  left: 50px;
  cursor: pointer;
  font-size: xx-large;
  display: flex;
  justify-content: space-evenly;
}
.dropdown-content{
  background-color  :white;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  top: 90%;
  background-color: white;
  height: auto;
  width: auto;
  position: absolute;
  top: 21.5%;
  left:20%;
  border-radius: 15px;
  color: black;
}
.dropdown-content-button{
  position: relative;
  height: 100%;
  width: 100%;
  font-size: xx-large;
  border:black;
  background-color: black;
  color: white;
}
.dropdown-content-button:hover{
background-color:#c08d54;
color: black;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.checkbox{
  height: 15px;
  width: 15px;
  margin: 10px;
}
.dropdown-content h2{
  margin: 20px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .wine-container {
    grid-template-columns: repeat(2, 1fr);
  }
}